<div class="recipes">
    <h1>
      RECIPIES
    </h1>
    <div class="ourPhilosophy">
        <div class="head">
        </div>
            <div class="box">
                <h4>FEATURED RECIPIES</h4>
            </div>
        <div class="head1">
        </div>
    </div>
<hr >

<div class="row">
    <div class="col-md-3">
        <div class="recp">
            <img src="../../../../assets/sass/img/recipes/55576317.jpg" alt="">
            <a href="javascript:;"><h2>
                APPLE CIDER
            </h2>
        </a>
        <div class="recipData">
            <hr class="mt-3">
            <div class="info">
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <span class="ml-2">20 min</span>
                </div>
                <div class="mr-food">
                    <p >Dinner</p>
                </div>
            </div>
            <hr class="mt-2 ">
           </div>
            <img src="../../../../assets/sass/img/recipes/75636117.jpg" alt="">
            <a href="javascript:;">
                <h2>
                    BEER CHEESE DIP
                </h2>
            </a>
            <div class="recipData">
                <hr class="mt-3">
                <div class="info">
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="ml-2">20 min</span>
                    </div>
                    <div class="mr-food">
                        <p >Dinner</p>
                    </div>
                </div>
                <hr class="mt-2">
               </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="recp">
            <img src="../../../../assets/sass/img/recipes/azoqcek2kuq-herson-rodriguez.jpg" alt="">
            <a href="javascript:;">
                <h2>
                    CREAMY MUSHROOM PASTA
                </h2>
            </a>
            <div class="recipData">
                <hr class="mt-3">
                <div class="info">
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="ml-2">20 min</span>
                    </div>
                    <div class="mr-food">
                        <p >Dinner</p>
                    </div>
                </div>
                <hr class="mt-2">
               </div>
            <img src="../../../../assets/sass/img/recipes/brina-blum-114390.jpg" alt="">
            <a href="javascript:;">
                <h2>
                    CREAM CHEESE POUND CAKE
                </h2>
            </a>
            <div class="recipData">
                <hr class="mt-3">
                <div class="info">
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="ml-2">20 min</span>
                    </div>
                    <div class="mr-food">
                        <p >Dinner</p>
                    </div>
                </div>
                <hr class="mt-2">
               </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="recp">
            <img src="../../../../assets/sass/img/recipes/ddzyotzunbk-eaters-collective.jpg" alt="">
            <a href="javascript:;">
                <h2>
                    BRONTOSAURUS BURGERS
                </h2>
            </a>

           <div class="recipData">
            <hr class="mt-3">
            <div class="info">
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <span class="ml-2">20 min</span>
                </div>
                <div class="mr-food">
                    <p >Dinner</p>
                </div>
            </div>
            <hr class="mt-2">
           </div>
            <img src="../../../../assets/sass/img/recipes/dqddd3iwt2i-neha-deshmukh.jpg" alt="">
            <a href="javascript:;">
                <h2>
                    BEAN SALAD WITH CELERY
                </h2>
            </a>
            <div class="recipData">
                <hr class="mt-3">
                <div class="info">
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="ml-2">20 min</span>
                    </div>
                    <div class="mr-food">
                        <p >Dinner</p>
                    </div>
                </div>
                <hr class="mt-2">
               </div>
            <ng-content select="info"></ng-content>
        </div>

    </div>
    <div class="col-md-3">
        <div class="recp">
            <img src="../../../../assets/sass/img/recipes/project.jpg" alt="">
            <a href="javascript:;">
                <h2>
                    BEAN SALAD WITH CELERY
                </h2>
            </a>
            <div class="recipData">
                <hr class="mt-3">
                <div class="info">
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="ml-2">20 min</span>
                    </div>
                    <div class="mr-food">
                        <p >Dinner</p>
                    </div>
                </div>
                <hr class="mt-2">
               </div>
            <img src="../../../../assets/sass/img/recipes/qviri4ueqzy-adrien-sala.jpg" alt="">
            <a href="javascript:;">
                <h2>
                    APPETIZER MUSSELS
                </h2>
            </a>
            <div class="recipData">
                <hr class="mt-3">
                <div class="info">
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="ml-2">20 min</span>
                    </div>
                    <div class="mr-food">
                        <p >Dinner</p>
                    </div>
                </div>
                <hr class="mt-2">
               </div>
        </div>

    </div>
</div>


<div class="explore">
    <span class="float-right">
        <a href="javascript:;">
            EXPLORE RECCIPES
        </a>
    </span>
</div>

<div class="recipVdo">
    <a href="https://www.youtube.com/embed/F-nIUB4_Fc4" title="Click to open on Youtube">
        <img src="../../../../assets/sass/img/recipes/IMG_0290.webp" alt="Click to open on Youtube">
    </a>
    <div class="recpInfo">
       <div class="box1">
        <hr>
        <h2>
            Welcome to Good Food master сlass, part classroom, part playground and all kitchen.
        </h2>
        <hr class="btmhr">
        <p>
            The Master Class will make you understand the culinary processes, interact with products and interpret the art…
        </p>
        <button class="btns">VISIT MASTER CLASS</button>
       </div>

    </div>
</div>
</div>

