
<div class="phylo">
      
        <div class="ourPhilosophy">
            <div class="head">
            </div>
                <div class="box">
                    <h4>OUR PHYLOSOPHY</h4>
                </div>
            <div class="head1">
            </div>
        </div>
    <hr >
     

<div class="row">
    <div class="phyloText">
    <div class="col-md-4">
        <div class="firstText">
            <span>
                This blog resembles the pages of a glossy food magazine with a fleet of stylists making sure every bite looks impossibly scrumptious. But behind the scenes, there's just one incredible couple, Amy and Dylan Jameson. The division of labor is simple:
            </span>
        </div>
      
    </div>
    <div class="col-md-4">
        <p>
            She cooks and blogs; he photographs. The result elevates whole-food ingredients to epic proportions. Sandwiches, noodles, green salads, and other divine dishes have earned the attention of many in the food world, including magazine, which named Good Food.
        </p>
       
    </div>
    <div class="col-md-4">
        <p> One of the best original recipe blogs. The blog below contain out-of-this-world recipes, insightful posts on diet trends, and realistic tips to help you eat smarter—whether you're Paleo, vegetarian, gluten-free, or just happen to love food.
        </p>
        <div class="sign ">
    <img class="float-right" src="../../../../assets/sass/img/10.png" alt="">
  </div>
    </div>
  </div>
  
</div>
</div>
