

    <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="leftIcons">
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse navCenter" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a> -->
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" role="button" aria-expanded="false">
                  HOME
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">
                    <small>Home Recipie</small>
                  </a>
                  <a class="dropdown-item" href="#">
                    <small>Home Blog</small>
                  </a>
                </div>
              </li>
           
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  FEATURES
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">
                    <small>About Us</small>
                  </a>
                  <a class="dropdown-item" href="#">
                    <small>Cooking School</small>
                  </a>
                  <a class="dropdown-item" href="#">
                    <small>Blog</small>
                  </a>
                  <a class="dropdown-item" href="#">
                    <small>shop</small>
                  </a>
                  <a class="dropdown-item" href="#">
                    <small>contact</small>
                  </a>
                </div>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="#">EVENTS</a>
            </li>

            <li class="nav-item dropdown position-static">
                <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  SHORTCODES
                </a>
                <div class="dropdown-menu w-75 " area-lebelledby="navbarDropdown">
                        <div class="row">
                    <div class="col-md-3">
                            <a class="dropdown-item" href="#">1</a>
                            <a class="dropdown-item" href="#">
                                <small>Blog Shortcode</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>
                                Buttons & Icons
                            </small></a>
                            <a class="dropdown-item" href="#">
                                <small>Clients</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Counters & Progress Bars</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Custom HTML, CSS, JS</small>
                            </a>
                        </div>     
                            
                   
                    <div class="col-md-3">
                       
                            <a class="dropdown-item" href="#">2</a>
                            <a class="dropdown-item" href="#">
                                <small>Dividers</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Embedded</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Featured Blocks</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Google Maps</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Icon Boxes</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Icon Lists</small>
                            </a>
                        </div>
                    
                    <div class="col-md-3">
                        
                            <a class="dropdown-item" href="#">3</a>
                            <a class="dropdown-item" href="#">
                                <small>Images</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Notice Boxes</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Recipes Shortcode</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Posts or Recipes Slider</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Pricing Tables</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Profiles</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Quotes</small>
                            </a>
                        
                    </div>
                    <div class="col-md-3">

                            <a class="dropdown-item" href="#">4</a>
                            <a class="dropdown-item" href="#">
                                <small>Sidebars</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Social Sharing</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Special Headings</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Tables</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Tabs & Tours</small>
                            </a>
                            <a class="dropdown-item" href="#">
                                <small>Toggles & Accordions</small>
                            </a>
                </div>
                </div>
                </div>
              </li>

            <li class="nav-item dropdown">
              <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                POST TYPES
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="rightIcon">
            <i class="fa-solid fa-bag-shopping"></i>
            <span class="mr-3">0</span>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </nav>

      <hr class="my-0">
      <hr class="mt-1">

